
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}
.side-title {
  margin: 15px;
}
.welcome-page {
  text-align: center;
}
.welcome-title {
  margin: 20px;
  margin-top: 50px;
  font-size: 100px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entire-signup {
  height: 400px;
  width: 800px;
}

.entire-login {
  height: 400px;
  width: 800px;
}

.side-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.side-bar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #FFFAF1;
  transition: 0.5s;
}

/* .side-bar:hover {
  width: 300px;
} */

.side-bar ul {
  top: 0;
  left: 0;
  width: 100%;
}

.side-bar ul li{
  position: relative;
  width: 100%;
  list-style: none;
}
.side-bar ul div{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
}

.side-bar ul div .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
}

.todo-list {
  display: absolute;
  margin-left: 200px;
}
.table-header {
  margin-left: 15px;
  font-size: 20px;
}

.table-container {
  box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
  border-radius: 5px;
  margin: 10px;
}

.hug-right {
  text-align: right;
}

.plus-header {
  text-align: right;
  margin-right: 10px;
}

.fa-minus {
  margin-left: 10px;
}

.task-form {
  height: 200px;
  box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
  border-radius: 5px;
  width: 300px;
  margin: 10px;
  text-align: center;

}

.task-form-container {
  text-align: center;
}

.btn {
  margin: 10px;
}

.delete-page {
  text-align: center;
  margin: 100px;
}

.tasks-item .task-check .far {
  color: red;
}

.tasks-item .task-check .fas {
  color: green;
}